<launch>
  <arg name="person_tracking" default="/person_positions" />
  <arg name="vicon_person" default="/vicon/person_1/person_1" />

  <node name="person_vicon_publisher"  pkg="detectron2_ros" type="person_vicon_publisher" output="screen" >
    <param name="vicon_person" value="$(arg vicon_person)" />
    <param name="person_tracking" value="$(arg person_tracking)" />
  </node>
</launch>